<hr />
<h5 class="text-center text-secondary" id="sponsors">{{ if eq .Params.lang_code "fr" }}
  Merci à nos commanditaires!{{ else }}
  Thank you to our sponsors!{{ end }}
</h5>
<div class="container">
  <div class="row gx-5 text-center">
    <div class="col">
      <p>
        <a href="https://quantumalgorithms.ca/">
          <img alt="Quantum Algorithms Institute" src="/QAI-logo.svg" height="160">
        </a><br /><br />{{ if eq .Params.lang_code "fr" }}
        Merci au <a href="https://quantumalgorithms.ca/">Quantum Algorithms Institute</a>
        pour avoir généreusement fourni le lieu de cet événement!{{ else }}
        Thank you to the <a href="https://quantumalgorithms.ca/">Quantum Algorithms Institute</a>
        for generously providing the venue for this event!{{ end }}
      </p>
    </div>
    <div class="col">
      <p>
        <a href="https://www.cdw.com/">
          <img alt="CDW" src="/CDW-logo.png" height="160">
        </a><br /><br />{{ if eq .Params.lang_code "fr" }}
        Merci à <a href="https://fr.cdw.ca/">CDW Canada</a>
        pour la présentation spéciale humoristique!{{ else }}
        Thank you to <a href="https://www.cdw.ca/">CDW Canada</a>
        for the Comedy Special event!{{ end }}
      </p>
    </div>
  </div>
</div>
